/* General Styles */

* {
  box-sizing: border-box;
}

body {
  background-color: #dfe6e9;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Links */

nav ul,
section ul {
  display: flex;
}

nav li,
section li {
  flex-direction: row;
  list-style: none;
  font-size: 24px;
  margin: 0 0.3rem;
  padding: 0.2rem;
}

nav a:link,
nav a:visited {
  color: #6db9ce;
  text-decoration: none;
  border-bottom: 3px solid #6db9ce;
  padding-bottom: 0.2rem;
}

section a:link,
section a:visited {
  color: #2f3c4e;
  text-decoration: none;
  border-bottom: 3px solid #2f3c4e;
  padding: 0 1rem;
}

/* Headers */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3c4e;
  margin: 0;
  border-bottom: 5px solid #6db9ce;
}

h1,
h2 {
  color: navy;
  background-color: #6db9ce;
}

h1 {
  font-size: 48px;
  padding: 0.5rem;
}

h2 {
  font-size: 36px;
  align-self: flex-end;
  margin-top: 5rem;
  margin-bottom: 0;
  font-weight: lighter;
}

h4 {
  font-size: 20px;
  margin-bottom: 0;
}

/* Main Content */

section h3 {
  font-size: 36px;
  color: #2f3c4e;
  margin: 5%;
  padding: 1%;
  text-align: end;
  border-right: 3px solid #2f3c4e;
}

.cols-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 57%;
}

.profile-img {
  height: 500px;
  width: auto;
  border: 3px solid #6db9ce;
}

.rows-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

#about {
  display: flex;
  margin-top: 5%;
}

#contact {
  display: flex;
  align-items: center;
}

/* Card Content */

.card {
  position: relative;
  border: 3px solid #6db9ce;
  margin: 2%;
}

.card-focus img {
  height: auto;
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card-title {
  position: absolute;
  bottom: 10%;
  padding-right: 10%;
  margin-top: 0;
  background-color: #6db9ce;
  z-index: 1;
}

.card:hover .overlay {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s ease;
  background-color: black;
}

#work {
  display: flex;
  margin-top: 5%;
}
