:root {
  --dark-theme: #4c333d;
  --light-theme: #ffe8d6;
  --card-accent: #405e59;
  --btn-accent: #95b08b;
}

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-theme);
  font-family: "Vollkorn", serif;
  font-size: 16px;
}

/* Navbar Styling */

.navbar {
  background-color: var(--dark-theme);
  font-size: 1.5rem;
}

/* Hero Styling */

#hero {
  background-image: url("../images/herobg.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
}

h1 {
  font-size: 6rem !important;
  font-weight: bolder !important;
  color: var(--dark-theme);
  text-shadow: 2px 2px #9e837d;
}

/* About Me */
.intro-heading {
  padding-top: 2rem;
}

.intro-text {
  padding: 1rem 5rem;
  font-size: 1.2rem;
}

#profile {
  border-radius: 50%;
  padding: 1rem 0rem;
  width: 60%;
}

/* Card Styling */

.card {
  position: relative;
  border-radius: 10px;
  border: 3px solid var(--card-accent);
}

.card-body {
  background-color: var(--card-accent);
  color: #ffe8d6;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s ease;
  background-color: black;
}
.card:hover .overlay {
  opacity: 0;
}

.btn {
  background-color: var(--btn-accent);
}

.btn a {
  color: black;
  text-decoration: none;
}

/* Contact Me Styling */
#contactMe {
  background-color: var(--dark-theme);
  color: var(--light-theme);
  margin-top: 2rem;
  padding: 2rem;
}

li,
li > a {
  color: #9e837d;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

li:hover,
li > a:hover {
  color: #ffe8d6;
}
